<!DOCTYPE html>
<html>
<head>
    <title>Guessing game</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body id="container">
    <div>
        <a href="/">Home</a>
        <p>{{last_guess}} {{last_answer}}</p>
    </div>
    <div id="guess-bar">
        {% if answer %}
        <p>You have {{turns_left}} {{'guess' if turns_left == 1 else 'guesses'}} left.</p>
        <p>Submit an guess between {{guess_min}} and {{guess_max}}:</p>
        {% elif win %}
        <p id="guesses">You win! With {{turns_left}} {{'guess' if turns_left == 1 else 'guesses'}} left.</p>
        <p>The answer was {{last_answer}}.</p>
        {% else %}
        <p>You lose! :( The answer was {{last_answer}}...</p>
        <p>Guess a new number between 1 and 1000:</p>
        {% endif %}
        {% with messages = get_flashed_messages(category_filter=['guess']) %}
        <form action="/guesser" method="post" class="guess-form">
            {% if answer %}
            <input type="number" id="guess" name="guess" autocomplete="off" autofocus>
            <button type="submit" class="game-btn">Submit</button>
            {% else %}
            <input type="hidden" id="guess" name="guess" value="0">
            <button type="submit" class="game-btn">Play</button>
            {% endif %}
        </form>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="graph">
        {% for i in range(1,11) %}
            {% if win %}
            <span class="bar" id="barwin"></span>
            {% elif i <= turns_left %}
            <span class="bar"></span>
            {% else %}
            <span class="bar" id="barnone"></span>
            {% endif %}
        {% endfor %}
        <audio class="my-audio" src="../static/beat"></audio>
    </div>
    <script src="../static/js/myscript.js"></script>
</body>
</html>
